[data-search-game] {
	width: 100%;
	position: relative;
	user-select: none;

	[data-end-game] {
		border-radius: var(--CurrentValue, 12px);
		background: var(--white, #fff);
		padding: min(1.5%, 16px) min(5%, 24px);
		position: absolute;
	  top: 9.5%;
		right: 16px;
		z-index: 10;
		border: none;
		cursor: pointer;
		font-size: min(1vw, 16px);
	}

	.game-background {
		pointer-events: none;
		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
			position: relative;
			z-index: 2;
		}
	}

	.game-field {
		width: 80%;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		height: 100%;
		position: absolute;
		z-index: 4;

		.score-field {
			display: flex;
			gap: min(2vw, 24px);
			width: fit-content;
			align-items: center;
			margin: 5% auto 0;
			border-radius: 41px;
			background: #fff;
			box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
				0px 3px 6px -4px rgba(0, 0, 0, 0.12),
				0px 9px 28px 8px rgba(0, 0, 0, 0.05);
			padding: 1.2% 2.4%;

			> span {
				font-size: min(2vw, 24px);
			}

			.presents {
				display: flex;
				gap: min(1vw, 16px);

				&:empty {
					display: none;
				}

				.present-icon {
					flex-shrink: 0;
					height: auto;
					width: min(2vw, 24px);

					> img {
						display: block;
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
			}
		}

		.houses-container {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			pointer-events: none;

			> img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}

		.ded-container {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			pointer-events: none;

			.ded {
				position: absolute;
				cursor: pointer;
				opacity: 0;
				pointer-events: all;

				> img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					display: block;
					user-select: none;
				}
			}
		}
	}
}
